.item {
  font-family: 'Inter';
  display: flex;
  gap: 10px;
  align-items: center;
  color: #000;
  cursor: pointer;
  max-width: 300px;
}

.checked {
  text-decoration: line-through;
  color: #d3d3d3;
  cursor: pointer;
}

input[type='checkbox'] {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
